{% extends 'python_learning/base.html' %}
{% load static %}
{% block title %}Python-Learning{% endblock title %}


{% block content %}
<div class="container">
    <div class="h4 mt-3 mb-3 text-center">{{ title }}</div>
    <div class="h4 mt-3 mb-3 text-center">
        {% if judge %}
        <span style="color: green; font-weight: bold;">正解です。</span>
        {% else %}
        <span style="color: darkred; font-weight: bold;">不正解です。</span>
        {% endif %}
    </div>
    <div style="height: 40px;"></div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <span style="font-size: large; font-weight: bold;">[解説]</span><br>
            {% autoescape off %}
            {{ explanation| linebreaksbr }}
            {% endautoescape %}
        </div>
        <div class="col-11"></div>
    </div>
    <div style="height: 40px;"></div>
    <div class="row">
        <div class="col button_back">
            {% if pk > 1 %}
            <a href="{% url 'python_learning:quartet' un pk_b %}">前の問題へ</a>
            {% endif %}
        </div>
        <div class="col button_return">
            <a href="{% url 'python_learning:q_list' un %}?p={{pn}}">問題一覧へ</a>
        </div>
        <div class="col button_next">
            {% if pk < num_of_series %}
            <a href="{% url 'python_learning:quartet' un pk_a %}">次の問題へ</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}