{% extends 'python_learning/base.html' %}
{% load static %}
{% block title %}Python-Learning{% endblock title %}


{% block content %}
<div class="container">
    <div class="h4 mt-3 mb-4 text-center">{{ title }}</div>
<div class="row">
    <div class="col1"></div>
    <div class="col10 text-start">
        <div class="p-2" style="font-size: 20px;">{{ pk }}. {{ sentence }}</div>
            {% if code %}
            <div class="clear_box">
            {% autoescape off %}
            {{ code | linebreaksbr }}
            {% endautoescape %}
            </div>
            {% endif %}
            <hr>
        <div>
            <form action="{% url 'python_learning:quartet_a' un pk %}" method="post">
            {% csrf_token %}
            {% for choice, number in shuffled %}
            <div class="form-check m-3 p-1">
                <input class="form-check-input" type="radio" name="choice" id="choice{{ number }}" value="{{ number }}">
                <label class="form-check-label" for="choice{{ number }}">
                  {{ choice | linebreaksbr }}
                </label>
              </div>              
            {% endfor %}
            <button type="submit" class="btn btn-primary">解答する</button>
            </form>
        </div>
    </div>
    <div style="height: 40px;"></div>
    <div class="text-center">
        <a href="{% url 'python_learning:p_study' un %}?p={{pn}}">問題一覧へ</a>
    </div>
    <div class="col1"></div>
</div>
</div>

{% endblock content %}