{% extends 'python_learning/base.html' %}
{% load static %}


{% block title %}Python-Learning{% endblock title %}

{% block content %}
<div class="container">
    <div style="height: 40px;"></div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-start">
        <h4>提出コード結果詳細</h4>
        <table class="table">
          <thead>
            <tr><th>テストケース番号</th><th>ジャッジ結果</th><th>実行時間</th></tr>
        </thead>
        <tbody>
          {% for check, time, fade_in in combine %}
          <tr>
            <td style="font-size: 18px;">テストケース{{ forloop.counter }}</td>
            <td class="{{ fade_in }}" data-abc="{{ forloop.counter }}" style="font-size: 16px;">
              {% if check %}
              <span style="color: green; font-size: 18px;"><b>○</b></span><span style="font-size: 17px;">正解</span>
              {% else %}
              <span style="font-size: 13px;">❌</span>不正解
              {% endif %}
          </td>
          <td class="{{ fade_in }}" data-abc="{{ forloop.counter }}" style="font-size: 17px;">
          {{ time }}秒</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
       
    </div>
    <div class="col-2"></div>
</div>
<div class="text-center {{ last_fade_in }}">
  {{ num_of_question }}ケース中、{{ num_of_correct }}ケース正解です。<span style="color: green; font-weight: bold;">{{ perfect }}</span>
</div>
</div>
<div class="row p-2">
    <div class="col-1"></div>
    <div class="col-5">
      <div>あなたの解答</div>
      <div id="editor1" class="p-2" style="height: 200px;">{{ text }}</div>
    </div>
    <div class="col-5">
      <div>解答例</div>
      <div id="editor2" class="p-2" style="height: 200px; display: none;">{{ example_answer }}</div>
      <div class="text-center" style="position: relative;">
        <button class="btn btn-success" style="position: absolut; transform: translateY(150%);" id="show">解答例を表示する</button>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div style="height: 40px;"></div>
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <div class="button_retry">
        <a href="{% url 'python_learning:compe' pk %}">再挑戦する</a>
    </div>
    </div>
    <div class="col">
      <div class="button_return">
        <a href="{% url 'python_learning:p_like' %}?p={{pn}}">問題一覧へ</a>
    </div>
    </div>
    <div class="col"></div>
  </div>
  
<div style="height: 20px;"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.2/ace.js"></script>
  <script src="{% static 'js/answer.js' %}"></script>
{% endblock content %}
