{% extends 'python_learning/base.html' %}
{% load static %}
{% block title %}Paiza形式問題{% endblock title %}

{% block css %}
<link href="{% static 'css/modal.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container  pt-2">
    <div class="row mt-2">
        <div class="col-1"></div>
        <div class="col-10">
            <h4 class="question_title" style="width: 80%;">{{ title }}</h4>
            <div style="height: 5px;"></div>
            <b>【問題】</b><br>
            {% autoescape off %}
            {{ sentence | linebreaksbr }}
            {% endautoescape %}
            <div style="height: 15px;"></div>
            <div class="p-2" style="width: 80%; border: darkgreen solid 1px;">
                📄<b>期待する出力</b><br>
                {{ expectation | linebreaksbr }}
            </div>
            <div style="height: 5px;"></div>
            <div class="p-2" style="width: 80%; border: darkblue solid 1px;">
                ☑️<b>条件</b><br>
                すべてのテストケースにおいて、以下の条件をみたします。<br>
                {{ condition | linebreaksbr }}
            </div>
            <div style="height: 5px;"></div>
            <div class="p-2" style="width: 80%; border: gray solid 1px;">
                ⌨️<b>入力される値</b><br>
                入力は以下のフォーマットで与えられます。
                <div class="p-1 m-2 gray_theme" style="width: 80%;">
                    {{ format_data | linebreaksbr }}
                </div>
                {{ format_text | linebreaksbr }}
            </div>
            <div style="height: 25px;"></div>
            {% for input, output in examples %}
            ・テストケース{{ forloop.counter }}
            <div class="p-2" style="width: 80%; border: grey solid 1px;">
                <b>入力される値</b>
                <div class="p-1 m-2 gray_theme" style="width: 80%; ">
                    {{ input | linebreaksbr }}
                </div>
            </div>
            <div class="p-2" style="width: 80%; border: grey solid 1px;">
                <b>求められる出力</b>
                <div class="p-1 m-2 gray_theme" style="width: 80%;">
                    {{ output | linebreaksbr }}
                </div>
            </div>
            <div style="height: 15px;"></div>
            {% endfor %}
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row m-1" style="height: 60px;">
        <div class="col-7">
        <a href="{% url 'python_learning:p_like_ex' %}#input" target="_blank" rel="noopener noreferrer">入力される値の受け取り方はこちら（別タブで開く）</a>
        </div>
        <div class="col-5">
            <button id="modalOpen" class="button_compe">使用可能なライブラリや関数について</button>
                <div id="easyModal" class="modal">
                <div class="modal-content">
                <div class="modal-header">
                <h5>このエディターでは以下のようにライブラリや関数が制限されます。</h5>
                <span class="modalClose">×</span>
                </div>
                <div class="modal-body">
                <p>🟢使用可能な外部ライブラリ</p>
                <p class="ps-3"> numpy、pandas、mpmath、scipy、sympy</p>
                <p>🔴使用できないモジュール・ライブラリ</p>
                <p class="ps-3"> os、subprocess、pathlib、shutil</p>
                <p>🔴使用できない関数</p>
                <p class="ps-3"> open、exec、eval</p>
                </div>
                </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <select class="form-select-sm ms-3 mb-1 bg-light text-center" style="width: 90%;" id="editor_color" onchange="color()">
                {% for key, color in editor_colors %}
                {% if forloop.counter == cn %}
                <option value="{{ key }}" selected>{{ color }}</option>
                {% else %} 
                <option value="{{ key }}">{{ color }}</option>          
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-5">
            ←エディターの配色を変更できます。
        </div>
        <div class="col-5">
            <select class="form-select-sm bg-info text-center" style="width: 30%;" id="testcase" onchange="select()">
                {% for testcase in testcases %}
                {% if forloop.counter == sn %}
                <option value="{{ testcase }}" selected>テストケース{{ forloop.counter }}</option>
                {% else %}
                <option value="{{ testcase }}">テストケース{{ forloop.counter }}</option>
                {% endif %}
                {% endfor %}
              </select>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <div id="editor" style="height: 476px; width: 100%;">{{ text }}</div>
        </div>
        <div class="col-5">
            <form action="?" method="post">{% csrf_token %}
                入力される値
            <textarea class="ps-2" style="height: 109px; width: 100%; background-color: lemonchiffon;" id ="input_ex" name="input_ex" readonly>{{ input_ex }}</textarea>
                要求される出力
                <textarea class="ps-2" style="height: 109px; width: 100%; background-color: aquamarine;" id ="output_ex" name="output_ex" readonly>{{ output_ex }}</textarea>
                <input type="hidden" id="defalt_color" name="defalt_color" value="{{ defalt_color }}">
                <textarea style="display:none" id ="selected_n" name="selected_n">{{ sn }}</textarea>
                <textarea style="display:none" id="text" name="text"></textarea>
                <textarea style="display:none" id="backup" name="backup">{{ text }}</textarea>
                <textarea style="display:none" name="data">{{ data }}</textarea>
                <textarea class="ps-2" name="output" rows="8" style="background-color: lightcyan; border: blue solid 1px; width: 100%;" readonly>{{ out }}{{ err }}</textarea>
        </div>
    </div>
    <div class="m-3 text-end">
        <span><button type="submit" class="btn btn-primary" formaction="{% url 'python_learning:compe' pk %}?p={{pn}}">出力確認</button></span>
        <span><button type="submit" class="btn btn-danger" formaction="{% url 'python_learning:compe_a' pk %}?p={{pn}}">解答する</button></span>
    </div>
    </form>
    
     <div class="button_return"><a href="{% url 'python_learning:p_like' %}?p={{pn}}">問題一覧へ</a></div>
    <div style="height: 60px;"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.7/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.7/ext-language_tools.js"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/compe.js' %}"></script>

{% endblock content %}