{% extends 'python_learning/base.html' %}
{% load static %}
{% block title %}Paiza形式問題一覧{% endblock title %}


{% block content %}
<div class="container-fluid">
    <div style="height: 10px;"></div>
    <h3 class="p-1 text-center">Paiza形式問題</h3>
    <div style="height: 10px;"></div>
    <div class="text-center"><a href="{% url 'python_learning:p_like_ex' %}?p={{number}}">問題に挑戦するにあたって</a></div>
    <div style="height: 10px;"></div>
    <div class="text-center"><a href="{% url 'python_learning:compe' 0 %}?p={{number}}">練習問題</a></div>
    <div style="height: 10px;"></div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10  text-center">
            <div style="display: flex; font-weight: bold;">
                <div style="width: 15%;">難易度</div>
                <div style="width: 70%;">問題</div>
                <div style="width: 15%;">挑戦履歴</div>
            </div>
            <hr class="slight_line">
            {% for level, question, result in questions_and_results %}
            <div style="display: flex;">
                <div class="p-1 m-1" style="width: 15%;">
                    <span style="color: goldenrod;">{{ level }}</span>
                </div>
            <div class="m-1" style="width: 70%;">
                <a href="{% url 'python_learning:compe' question.section %}" class="btn_co color_compe">{{ question.title }}</a>
            </div>
            <div class="p-1 m-1" style="width: 15%; font-weight: bold;">
                {% if result %}
                <span style="color: green;">Perfect達成!</span>
                {% elif result is False %}
                <span style="color: darkred;">Perfect未達成</span>
                {% else %}
                未挑戦
                {% endif %}
            </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row mt-4">
        <div class="col"></div>
        <div class="col">
            {% if page_obj.paginator.num_pages > 1 %}
            <ul class="Pagination">
                {% if page_obj.has_previous %}
                <li class="Pagination-Item">
                    <a class="Pagination-Item-Link" href="?p=1">≪</a>
                </li>
                <li class="Pagination-Item">
                    <a class="Pagination-Item-Link" href="?p={{ page_obj.previous_page_number }}">&lt;</a>
                </li>
                {% else %}
                <li style="width: 98px;"></li>
                {% endif %}
                {% for page in page_range %}
                {% if page == page_obj.number %}
                <li class="Pagination-Item">
                    <a class="Pagination-Item-Link isActive" href="?p={{ page }}"><span>{{ page }}</span></a>
                </li>
                {% elif page == '…' %}
                <li class="Pagination-Item">
                    <a class="Pagination-Item-Link isReader" href="#"><span>{{ page }}</span></a>
                </li>
                {% else %}
                <li class="Pagination-Item">
                    <a class="Pagination-Item-Link" href="?p={{ page }}"><span>{{ page }}</span></a>
                </li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="Pagination-Item">
                    <a class="Pagination-Item-Link" href="?p={{ page_obj.next_page_number }}">&gt;</a>
                </li>
                <li class="Pagination-Item">
                    <a class="Pagination-Item-Link" href="?p={{ page_obj.paginator.num_pages }}">≫</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
            <div class="mt-4 text-center">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ
           </div>
        </div>
        <div class="col"></div>
    </div>
    <div style="height: 40px;"></div>
    <div class="text-center">
        <a href="{% url 'python_learning:index' %}" class="button_to_top">戻る</a>
    </div>
    <div style="height: 50px;"></div>
</div>

{% endblock content %}