{% extends 'pythonL/base.html' %}
{% load static %}
{% block title %}Python-Learning{% endblock title %}


{% block content %}
<div class="container-fluid">
    <div style="height: 20px;"></div>
    <h3 class="p-2 text-center">Python3基礎試験内容問題</h3>
    <div style="height: 40px;"></div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 text-center">
            {% for question in page_obj %}
            <div class="p-1 mt-2" style="border: green solid 2px;">
                <a href="{% url 'pythonL:quartet' un question.section %}">{{ question.title }}</a>
            </div>
            {% endfor %}
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-4">
        <div class="col text-end">
            {% if page_obj.has_previous %}
            <div class="row">
            <div class="col"></div>
            <div class="col"><a href="?p=1">« 先頭ページ</a></div>
            <div class="col"><a href="?p={{ page_obj.previous_page_number }}">前ページ</a></div>
            </div>
            {% endif %}
        </div>
            <div class="col text-center">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </div>
        <div class="col text-start">
            {% if page_obj.has_next %}
            <div class="row">
            <div class="col"><a href="?p={{ page_obj.next_page_number }}">次ページ</a></div>
            <div class="col"><a href="?p={{ page_obj.paginator.num_pages }}">最終ページ »</a></div>
            <div class="col"></div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="mt-4 text-center">
        <a href="{% url 'pythonL:pe_study' %}">戻る</a>
    </div>
</div>

{% endblock content %}