{% extends 'python_learning/base.html' %}
{% load static %}
{% block title %}基本問題{% endblock title %}

{% block css %}
<link href="{% static 'css/modal.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container  pt-2">
    <div class="row mt-2">
        <div class="col-7">
            <h4 class="question_title">{{ question_title }}</h4>
            <div style="height: 5px;"></div>
            {% autoescape off %}
            {{ question_sentence | linebreaksbr }}
            {% endautoescape %}
            <div style="height: 5px;"></div>
            {% if question_data %}
            <div style="width: 100%; border: green solid 1px; font-size: 100%; padding: 10px; box-shadow: 0 5px 7px 0 #c0c0c0;">
                {{ question_data }}
            </div>
            {% endif %}
        </div>        
        <div class="col-5">
            {% if course_exist %}
            <div style="height: 60px;"></div>
            <div class="p-1">
                <a href="{% url 'python_learning:intro_ex' urls.un %}" class="btn_co color_intro">この範囲の入門講座</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div style="height: 10px;"></div>
    <div style="display: flex;">
        <div>
            <select class="form-select-sm ms-3 mb-1 bg-light text-center" id="editor_color" onchange="color()">
                {% for value, color in editor_colors %}
                {% if forloop.counter == cn %}
                <option value="{{ value }}" selected>{{ color }}</option>
                {% else %} 
                <option value="{{ value }}">{{ color }}</option>          
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="ms-3">
            ←エディターの配色を変更できます。
        </div>
    </div>
     
    <div class="row">
        <div class="col-7">
            {% autoescape off %}
            {% if pre_code != "" and ev >= 3 %}
            <div class="{{ main_class }}" style="height:  114px; border: brown solid 2px;" data-color="main">
                <div class="{{ side_class }}" style="height: 110px;" data-color="side">&nbsp;</div>
                <div style="display: inline-block;">{{ pre_visual | linebreaksbr }}</div>
            </div>  
            {% elif pre_code != "" and ev < 3 %}
            <div class="{{ main_class }}" style="height:  70px; border: brown solid 2px;" data-color="main">
                <div class="{{ side_class }}" style="height: 66px;" data-color="side">&nbsp;</div>
                <div style="display: inline-block;">{{ pre_visual | linebreaksbr }}</div>
            </div>
            {% endif %}
            {% endautoescape %}
            <div id="editor" style="height: 380px; width: 100%;">{{ text }}</div>
            {% if post_code != "" %}
            {% autoescape off %}
            <div class="{{ main_class }}" style="height: 74px; border: blue solid 2px;" data-color="main">
            <div class="{{ side_class }}" style="height: 70px;" data-color="side">&nbsp;</div>
            <div style="display: inline-block;">{{ post_visual | linebreaksbr }}</div>
            </div>
            {% endautoescape %}
            {% endif %}
        </div>
        <div class="col-5">
            <div style="height: 182px;">
                <button id="modalOpen" class="button_drill">使用可能なライブラリや関数について</button>
                <div id="easyModal" class="modal">
                <div class="modal-content">
                <div class="modal-header">
                <h5>このエディターでは以下のようにライブラリや関数が制限されます。</h5>
                <span class="modalClose">×</span>
                </div>
                <div class="modal-body">
                <p>🟢使用可能な外部ライブラリ</p>
                <p class="ps-3"> numpy、pandas、mpmath、scipy、sympy</p>
                <p>🔴使用できないモジュール・ライブラリ</p>
                <p class="ps-3"> os、subprocess、pathlib、shutil</p>
                <p>🔴使用できない関数</p>
                <p class="ps-3"> open、exec、eval</p>
                </div>
                </div>
                </div>
            </div>
            {% if pre_code and ev >= 3 %}
            <div style="height: 114px;"></div>
            {% elif pre_code and ev < 3 %}
            <div style="height: 70px;"></div>
            {% endif %}
            {% if post_code %}
            <div style="height: 74px;"></div>
            {% endif %}
            <form action="?" method="post">{% csrf_token %}
                <textarea style="display:none" id="text" name="text"></textarea>
                <textarea style="display:none" id="backup" name="backup">{{ text }}</textarea>
                <input type="hidden" id="defalt_color" name="defalt_color" value="{{ defalt_color }}">
                <textarea style="display:none"  name="data1">{{ data1 }}</textarea>
                <textarea style="display:none"  name="data2">{{ data2 }}</textarea>
                <textarea class="ps-2" name="output" rows="8" style="background-color: lightcyan; border: blue solid 1px; width: 100%;" readonly>{{ out }}{{ err }}</textarea>
        </div>
    </div>
    <div class="m-3 text-end">
        <span><button type="submit" class="btn btn-primary" formaction="{% url question_url urls.un urls.pk %}">出力確認</button></span>
        <span><button type="submit" class="btn btn-danger" formaction="{% url answer_url urls.un urls.pk %}">解答する</button></span>
    </div>
    </form>
    <div class="button_return"><a href="{% url question_index_url %}">問題一覧へ</a></div>
    <div style="height: 60px;"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.7/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.7/ext-language_tools.js"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/drillquestion.js' %}"></script>

{% endblock content %}