{% extends 'python_learning/base.html' %}
{% load static %}
{% block title %}練習問題結果{% endblock title %}


{% block content %}
<div style="height: 20px;"></div>
<div class="p-2"><h2><p class="text-center">
  {% if correct %}⭕️正解です。
  {% else %}❌不正解です。
  {% endif %} 
  </p></h2></div>
<div style="height: 40px;"></div>
<div class="container text-center p-2">
    <div class="row p-2">
      <div class="col mb-6">
        <div>あなたの出力</div>
        <div style="background-color: aliceblue; height: 160px;" class="border border-primary text-left p-1">
          {{ out | linebreaksbr }}
          </div>
      </div>
      <div class="col mb-6">
        <div>求められる出力</div>
        <div style="background-color: honeydew; height: 160px;" class="border border-success text-left p-1">
          Hello, World!
          </div>
      </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row p-2">
        <div class="col mb-6">
          <div>あなたの解答</div>
          <div id="editor" class="p-2" style="height: 200px;">{{ text }}</div>
        </div>
        <div class="col mb-6">
          <div>解答例</div>
          <div id="editor2" class="p-2" style="height: 200px;">print('Hello, World!')</div>
        </div>
      </div>
    <div style="height: 80px;"></div>
    <div class="button_return"><a href="{% url question_index_url %}">問題一覧へ</a></div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.7/ace.js"></script>
  <script src="{% static 'js/drillanswer.js' %}"></script>
{% endblock content %}