{% extends 'python_learning/base.html' %}
{% load static %}
{% block title %}練習問題{% endblock title %}

{% block css %}
<link href="{% static 'css/modal.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="container  p-1">
<div class="row">
  <div class="col-6 pb-3">
    問題は次の形式で出題されます。
    <div style="height: 10px;"></div>
    問題：以下のものを出力してください。
    <div style="width: 450px; border: green solid 1px; font-size: 100%; padding: 10px; box-shadow: 0 5px 7px 0 #c0c0c0;">
        Hello, World!
    </div>
  </div>
  <div class="col-6"></div>
</div>
<div class="row">
  <div class="col-6">
      <div id="editor" style="height: 400px;">{{ text }}</div>
  </div>
  <div class="col-6">
      <div style="height: 202px;">
          <button id="modalOpen" class="button_drill">使用可能なライブラリや関数について</button>
          <div id="easyModal" class="modal">
          <div class="modal-content">
          <div class="modal-header">
          <h5>このエディターでは以下のようにライブラリや関数が制限されます。</h5>
          <span class="modalClose">×</span>
          </div>
          <div class="modal-body">
          <p>🟢使用可能な外部ライブラリ</p>
          <p class="ps-3"> numpy、pandas、mpmath、scipy、sympy</p>
          <p>🔴使用できないモジュール・ライブラリ</p>
          <p class="ps-3"> os、subprocess、pathlib、shutil</p>
          <p>🔴使用できない関数</p>
          <p class="ps-3"> open、exec、eval</p>
          </div>
          </div>
          </div>  
      </div>
      <form action="?" method="post">{% csrf_token %}
          <textarea style="display:none" id="text" name="text"></textarea>
          <textarea style="display:none"  name="backup">{{ text }}</textarea>
          <textarea class="ps-2" name="output" rows="8" style="background-color: lightcyan; border: blue solid 1px; width: 100%;" readonly>{{ out }}{{ err }}</textarea>
  </div>
</div>
<div class="m-3 text-end">
  <span><button type="submit" class="btn btn-primary" formaction="{% url 'python_learning:practice' %}?m={{model_num}}">出力確認</button></span>
  <span><button type="submit" class="btn btn-danger" formaction="{% url 'python_learning:practice_a' %}?m={{model_num}}">解答する</button></span>
</div>
<div class="button_return"><a href="{% url question_index_url %}">問題一覧へ</a></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.7/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.7/ext-language_tools.js"></script>
<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/practice.js' %}"></script>
{% endblock content %}