{% extends 'python_learning/base.html' %}
{% load static %}


{% block css %}
<link href="{% static 'css/top.css' %}" rel="stylesheet">
{% endblock css %}
{% block title %}Python-Learning{% endblock title %}


{% block content %}
<div>
<div class="pt-3" style="background-color: #add8fa;">
    <h2 class="text-center mb-5">Python学習サイト</h2>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="text-center" style="font-weight: bold;">更新情報</div>
            <hr class="slight_line">
            {% for news in recent %}
            <div class="ps-4" style="display: flex;">
              <div style="width: 20%;">
                {{ news.date|date:"Y.m.d" }}
              </div>
              <div style="width: 80%;">
                {{ news.comment }}
              </div>
            </div>
            <hr class="slight_line">
            {% endfor %}
            <div class="button_list m-4">
                <a href="{% url 'python_learning:news_list' %}">一覧へ</a>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<div style="height: 40px;"></div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <div class="l-wrapper_01">
            <article class="card_01">
              <div class="card__header_01">
                <p class="card__title_01"><a href="{% url 'python_learning:intro' %}" class="button_01">Python<br class="sp_1">入門<br class="sp_2">講座</a></p>
                <figure class="card__thumbnail_01">
                    <img src="{% static 'img/index/gakushu1.png' %}" alt="サムネイル" class="card__image_01">
              </figure>
              </div>
              <div class="card__body_01">
                <p class="card__text2_01">
                  <b>pythonの基礎知識を学習</b><br>
                  プログラミング学習を始めよう！
                </p>
              </div>              
            </article>
          </div>
    </div>
    <div class="col-4">
        <div class="l-wrapper_01">
            <article class="card_01">
              <div class="card__header_01">
                <p class="card__title_01"><a href="{% url 'python_learning:questions_beginner' %}" class="button_01">Python<br class="sp_1">基本<br class="sp_2">問題</a></p>
                <figure class="card__thumbnail_01">
                    <img src="{% static 'img/index/renshu1.png' %}" alt="サムネイル" class="card__image_01">
              </figure>
              </div>
              <div class="card__body_01">
                <p class="card__text2_01">
                  <b>pythonの基本の問題集（要ログイン）</b><br>
                  ランダム形式で出題！
                </p>
              </div>              
            </article>
          </div>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <div class="l-wrapper_01">
            <article class="card_01">
              <div class="card__header_01">
                <p class="card__title_01"><a href="{% url 'python_learning:chapter' %}" class="button_01">Python<br class="sp_1">知識<br class="sp_2">問題</a></p>
                <figure class="card__thumbnail_01">
                    <img src="{% static 'img/index/yontaku2.png' %}" alt="サムネイル" class="card__image_01">
              </figure>
              </div>
              <div class="card__body_01">
                <p class="card__text2_01">
                  <b>pythonの知識問題集（要ログイン）</b><br>
                  python3エンジニア基礎試験の範囲です。
                </p>
              </div>              
            </article>
          </div>
    </div>
    <div class="col-4">
        <div class="l-wrapper_01">
            <article class="card_01">
              <div class="card__header_01">
                <p class="card__title_01"><a href="{% url 'python_learning:p_like' %}" class="button_01">Paiza<br class="sp_1">形式<br class="sp_2">問題</a></p>
                <figure class="card__thumbnail_01">
                    <img src="{% static 'img/index/zissen2.png' %}" alt="サムネイル" class="card__image_01">
              </figure>
              </div>
              <div class="card__body_01">
                <p class="card__text2_01">
                  <b>Paiza形式の問題集（要ログイン）</b><br>
                  競技プログラミングの第一歩に！
                </p>
              </div>              
            </article>
          </div>
    </div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <div class="l-wrapper_01">
            <article class="card_01">
              <div class="card__header_01">
                <p class="card__title_01"><a href="{% url 'python_learning:machine_learning' %}" class="button_01">機械学習<br class="sp_1">演習</a></p>
                <figure class="card__thumbnail_01">
                    <img src="{% static 'img/index/enshu2.png' %}" alt="サムネイル" class="card__image_01">
              </figure>
              </div>
              <div class="card__body_01">
                <p class="card__text2_01">
                  <b>機械学習の演習</b>
                </p>
              </div>              
            </article>
          </div>
    </div>
    <div class="col-4">
    </div>
    <div class="col-2"></div>
</div>
<div style="height: 20px;"></div>
</div>
{% if debug %}
    <div class="text-center">
      <a href="{% url 'admin:index' %}" class="btn-square-shadow">管理画面へ</a>
    </div>
    <div style="height: 20px;">
  </footer>
{% endif %}
{% endblock content %}