{% extends 'pythonL/base.html' %}

{% block title %}Point Ranking Checker{% endblock title %}


{% block content %}
<div style="height: 20px;"></div>
<div class="p-2"><h2><p class="text-center">
  {% if collect %}⭕️正解です。
  {% else %}❌不正解です。
  {% endif %} 
  </p></h2></div>
<div style="height: 40px;"></div>
<div class="container text-center p-2">
    <div class="row p-2">
      <div class="col mb-6">
        <div>あなたの出力</div>
        <textarea class="ps-2" name="output" rows="8" style="background-color: lightcyan; border: blue solid 1px; width: 100%;" readonly>{{ out }}</textarea>
      </div>
      <div class="col mb-6">
        <div>求められる出力</div>
        <textarea class="ps-2" name="output" rows="8" style="background-color: lightcyan; border: blue solid 1px; width: 100%;" readonly>{{ c_output }}</textarea>
      </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="row p-2">
        <div class="col mb-6">
          <div>あなたの解答</div>
          <div id="editor" class="p-2" style="height: 200px;">{{ text_c }}</div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.2/ace.js"></script>
        </div>
        <div class="col mb-6">
          <div>解答例</div>
          <div id="editor2" class="p-2" style="height: 200px;">{{ e_answer }}</div>
        </div>
      </div>
    <div style="height: 40px;"></div>
    <div class="row">
    {% if p >= 1 %}
    <div class="col-4"><a href="{% url 'pythonL:basis' p %}">前の問題へ</a></div>
    {% endif %} 
    <div class="col-4"><a href="{% url 'pythonL:questions' %}">問題一覧へ</a></div>
    {% if n <= 5 %}
    <div class="col-4"><a href="{% url 'pythonL:basis' n %}">次の問題へ</a></div>
    {% endif %} 
    </div>
  </div>
  <script>
    let editor = ace.edit("editor");
    editor.$blockScrolling = Infinity;
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/python");
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: false
      });
      let editor2 = ace.edit("editor2");
    editor2.$blockScrolling = Infinity;
    editor2.setTheme("ace/theme/monokai");
    editor2.getSession().setMode("ace/mode/python");
    editor2.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: false
      });
  </script>
{% endblock content %}