{% extends 'pythonL/base.html' %}
{% load static %}


{% block title %}Python-Learning{% endblock title %}

{% block content %}
<div class="container">
    <div style="height: 40px;"></div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-start">
        <h4>提出コード結果詳細</h4>
        <table class="table">
          <thead>
            <tr><th>テストケース番号</th><th>ジャッジ結果</th><th>実行時間</th></tr>
        </thead>
        <tbody>
          {% for check, time, fade_in in combine %}
          <tr>
            <td style="font-size: 18px;">テストケース{{ forloop.counter }}</td>
            <td class="{{ fade_in }}" data-abc="{{ forloop.counter }}" style="font-size: 16px;">
              {% if check %}
              <span style="color: green; font-size: 18px;"><b>○</b></span><span style="font-size: 17px;">正解</span>
              {% else %}
              <span style="font-size: 13px;">❌</span>不正解
              {% endif %}
          </td>
          <td class="{{ fade_in }}" data-abc="{{ forloop.counter }}" style="font-size: 17px;">
          {{ time }}秒</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
       
    </div>
    <div class="col-2"></div>
</div>
</div>
<div class="row p-2">
    <div class="col-1"></div>
    <div class="col-5">
      <div>あなたの解答</div>
      <div id="editor1" class="p-2" style="height: 200px;">{{ text }}</div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.2/ace.js"></script>
    </div>
    <div class="col-5">
      <div>解答例</div>
      <div id="editor2" class="p-2" style="height: 200px; display: none;">{{ e_answer }}</div>
      <div style="height: 60px;"></div>
      <div class="text-center"><button class="btn btn-success" id="show">解答例を表示する</button></div>
    </div>
    <div class="col-1"></div>
  </div>
  <script src="{% static 'js/answer.js' %}"></script>
{% endblock content %}
