{% extends 'pythonL/base.html' %}

{% block title %}Python-Learning Introduction{% endblock title %}


{% block content %}
<div class="p-2"><h3><p class="text-center">for文・while文（繰り返し）</p></h3></div>
<div style="height: 60px;"></div>
<div class="ps-3">
    <div class="h4">🔵for文</div>
    <div>
    同じ処理を繰り返し行う場合、for文を使うと簡単に実行できます。<br>
    for文の基本的な書き方は、以下の通りです。
        <div class="p-2">
        <div style="width: 420px; background-color: linen; border: darkorange solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
            for 変数 in イテラブルな型:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;繰り返したい処理
        </div>
        </div>
        <div style="height: 5px;"></div>
    繰り返したい処理の内容に関しては、if文と同様にインデント（字下げ）する必要があります。<br>
    「イテラブルな型」というのは繰り返し実行できる型のことでrange関数「range()」やリスト型が当てはまります。<br>
    また、変数は仮の変数なので自由に設定することができます。<br>
    ただし、すでに定義されている変数を使用すると上書きされてしまうので、未定義の変数にしましょう。
        <div class="p-2">
        <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
            for x in range(3):<br>
            &nbsp;&nbsp;&nbsp;&nbsp;print("Hello World")
        </div>
        <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
            Hello World<br>
            Hello World<br>
            Hello World
        </div>
        </div>
        <div style="height: 10px;"></div>
        <div class="p-2">
        <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
            mylist = ["red", green, "blue", "yellow"]<br>
            for color in mylist:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;print(color)
        </div>
        <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
            red<br>
            green<br>
            blue<br>
            yellow
        </div>
        </div>
    同じ内容をn回繰り返したい場合は、上の例のようにrange関数を使って、「range(n)」と記述します。<br>
    また下の例のように、リストを使ってリストの中身を一つずつ取り出すこともできます。
    <div style="height: 40px;"></div>
    <div class="h4">🔵break</div>
    繰り返しの処理を途中で中断したい場合はbreakを使用します。
        <div class="p-2">
        <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
            numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]<br>
            for n in numbers:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;print(n)<br>
            &nbsp;&nbsp;&nbsp;&nbsp;if n &gt;= 4:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break
        </div>
        <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
            1<br>
            2<br>
            3<br>
            4
        </div>
        </div>
    上の例ではnが4以上になったら繰り返し処理を停止する処理がなされています。<br>
    <div style="height: 40px;"></div>
    <div class="h4">🔵continue</div>
    continueは処理をスキップしたい場合に使用します。
        <div class="p-2">
        <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
            numbers = [1, 2, 3, 4, 5]<br>
            for n in numbers:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;if n == 3:<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;continue<br>
            &nbsp;&nbsp;&nbsp;&nbsp;print(n)
        </div>
        <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
            1<br>
            2<br>
            4<br>
            5
        </div>
        </div>
        <div style="height: 40px;"></div>
        <div class="h4">🔵while文</div>
        繰り返す処理を行う場合、while文を使用することもできます。
            <div class="p-2">
            <div style="width: 420px; background-color: linen; border: darkorange solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
                while 条件式:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;条件式が正しい場合に行う処理
            </div>
            </div>
            <div style="height: 5px;"></div>
        上の例では、条件式が正しい限り処理の内容が繰り返されます。<br>
        条件式が正しい間ずっと繰り返されるので、うまく記述しないと無限に繰り返されてしまうので注意が必要です。<br>
        一般的には以下のように記述します。
        <div class="p-2">
            <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
                number = 0<br>
                while number &lt; 5:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;print(number)<br>
                &nbsp;&nbsp;&nbsp;&nbsp;number += 1
            </div>
            <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
                0<br>
                1<br>
                2<br>
                3<br>
                4<br>
            </div>
            </div>
        numberが5になった時、条件式が正しくなくなったので、そこで繰り返し処理を終えています。<br>
        もちろん、while文でもbreakやcontinueは使用できます。
        <div style="height: 40px;"></div>
        <div class="h4">🔴エディターを使って、今までの復習</div>
        下のエディターを使ってfor文・while文を書いてみよう。
    <div style="height: 10px;"></div>
    <div class="p-1">
        <div class="row">
        <div class="col-4">
        <div id="editor" style="height: 128px;">{{ text }}</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.2/ace.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.2/ext-language_tools.js"></script>
        <form action="{% url 'pythonL:intro_ex' 5 %}" method="post">{% csrf_token %}
        <textarea id="text" name="text"></textarea>
        <textarea id="backup" name="backup">{{ text }}</textarea>
        </div>
        <div class="pt-4 col-1"><button type="submit" class="btn btn-primary">実行</button></div></form>
        <div class="col-7"></div>
        </div>
        <div style="height: 10px;"></div>
        <div class="row">
        <div class="col-5"><textarea class="ps-2" name="output" rows="4" style="background-color: lightcyan; border: blue solid 1px; width: 500px;">{{ out }}{{ err }}
        </textarea></div>
        <div class="col-7"></div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="p-2">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <span><a href="{% url 'pythonL:intro_ex' 4 %}">戻る</a></span>
                <span style="display: inline-block; width: 50%;"></span>
                <span class="text-end"><a href="{% url 'pythonL:intro_ex' 6 %}">次へ</a></span>
            </div>
            <div class="col-4"></div>
        </div>
        
    </div>
</div>
</div>
<footer style="height: 30px; position: relative; bottom: 0;  width: 100%; background-color: navy;">
</footer>
<script>
    document.getElementById( 'text' ).style.display = 'none';
document.getElementById( 'backup' ).style.display = 'none';

let editor = ace.edit("editor");
editor.$blockScrolling = Infinity;
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/python");
editor.setOptions({
    enableBasicAutocompletion: true,
    enableSnippets: true,
    enableLiveAutocompletion: false
  });
editor.getSession().on('change', function(){
      let textcode = editor.getSession().getValue();
      document.getElementById( 'text' ).value = textcode;});

    let elem = document.getElementById('editor');
    let elem_Y = elem.getBoundingClientRect().top + window.pageYOffset;
window.addEventListener("load", function() {
        if (document.getElementById( 'backup' ).value != '') {
            scrollTo({top: elem_Y, left: 0, behavior: "instant",});
        }
    });
</script>
{% endblock content %}