{% extends 'pythonL/base.html' %}

{% block title %}Python-Learning Introduction{% endblock title %}


{% block content %}
<div class="p-2"><h3><p class="text-center">文字列・数値の出力</p></h3></div>
<div style="height: 60px;"></div>
<div class="ps-3">
    <div class="h4">🔵print関数を使う</div>
    <div>
    文字列や数値を出力する際には、print関数を使用します。<br>
    「関数」に関しては後々説明しますが、print関数は以下のように記述します。
        <div class="p-2">
        <div style="width: 420px; background-color: linen; border: darkorange solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
            print()
        </div>
        </div>
        <div style="height: 5px;"></div>
    「print()」は全て半角で、「print」は全て小文字で記入しましょう。
    <div style="height: 40px;"></div>
    <div class="h4">🔵文字列の出力</div>
    文字列を出力する際は、「print()」の()の中に文字列を入れますが、<br>
    その文字列をシングルクォーテーション「'」または、ダブルクォーテーション「"」で囲みます。
        <div class="p-2">
        <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
            print('文字列')<br>
            print("文字列")
        </div>
        </div>
    「print('Hello World')」と入力すると、「Hello World」と表示されます。
        <div class="p-2">
        <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
            print('Hello World')
        </div>
        <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
            Hello World
        </div>
        </div>
        <div style="height: 40px;"></div>
        <div class="h4">🔵数値の出力</div>
        数値を出力する際は「print()」の()の中に数値をそのまま記入します。
        <div class="p-2">
            <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
                print(数値)
            </div>
            </div>
        また、数値は加減乗除の計算を行うことができます。<br>
        足し算は「+」、引き算は「-」、掛け算は「*」、割り算は「/」を使用します。
            <div class="p-2">
            <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
                print(30 + 6)<br>
                print(30 - 6)<br>
                print(30 * 6)<br>
                print(30 / 6)
            </div>
            <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
                36<br>
                24<br>
                180<br>
                5.0
            </div>
            </div>
        <div style="height: 40px;"></div>
        <div class="h4">🔵「数値」と「数字」</div>
        数値をシングルクォーテーション「'」または、ダブルクォーテーション「"」で囲むと、<br>
        文字列（「数字」）として扱われます。<br>
        この性質に注意し、うまく使い分けるようにしましょう。
            <div class="p-2">
            <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
                print('3 + 2')<br>
                print(3 + 2)
            </div>
            <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
                3 + 2<br>
                5
            </div>
            </div>
        <div style="height: 40px;"></div>
        <div class="h4">🔴エディターを使って、今までの復習</div>
        　下のエディターを使って文字列や数値（あるいは計算式）を入力し、実行してみましょう。
    <div style="height: 10px;"></div>
    <div class="p-1">
        <div class="row">
        <div class="col-4">
        <div id="editor" style="height: 80px;">{{ text }}</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.2/ace.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.2/ext-language_tools.js"></script>
        <form action="{% url 'pythonL:intro_ex' 1 %}" method="post">{% csrf_token %}
        <textarea id="text" name="text"></textarea>
        <textarea id="backup" name="backup">{{ text }}</textarea>
        </div>
        <div class="pt-4 col-1"><button type="submit" class="btn btn-primary">実行</button></div></form>
        <div class="col-7"></div>
        </div>
        <div style="height: 10px;"></div>
        <div class="row">
        <div class="col-5"><textarea class="ps-2" name="output" rows="3" style="background-color: lightcyan; border: blue solid 1px; width: 500px;">{{ out }}{{ err }}
        </textarea></div>
        <div class="col-7"></div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="p-2">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <span><a href="{% url 'pythonL:intro' %}">一覧へ</a></span>
                <span style="display: inline-block; width: 50%;"></span>
                <span><a href="{% url 'pythonL:intro_ex' 2 %}">次へ</a></span>
            </div>
            <div class="col-4"></div>
        </div>
        
    </div>
</div>
</div>
<footer>
    <div style="height: 30px; position: relative; bottom: 0;  width: 100%; background-color: navy;"></div>
  </footer>
<script>
    document.getElementById( 'text' ).style.display = 'none';
document.getElementById( 'backup' ).style.display = 'none';

let editor = ace.edit("editor");
editor.$blockScrolling = Infinity;
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/python");
editor.setOptions({
    enableBasicAutocompletion: true,
    enableSnippets: true,
    enableLiveAutocompletion: false
  });
editor.getSession().on('change', function(){
      let textcode = editor.getSession().getValue();
      document.getElementById( 'text' ).value = textcode;});

    let elem = document.getElementById('editor');
    let elem_Y = elem.getBoundingClientRect().top + window.pageYOffset;
window.addEventListener("load", function() {
        if (document.getElementById( 'backup' ).value != '') {
            scrollTo({top: elem_Y, left: 0, behavior: "instant",});
        }
    });
</script>
{% endblock content %}