{% extends 'pythonL/base.html' %}

{% block title %}Python-Learning Introduction{% endblock title %}


{% block content %}
<div class="p-2"><h3><p class="text-center">変数と型</p></h3></div>
<div style="height: 60px;"></div>
<div class="ps-3">
    <div class="h4">🔵「変数 = 値」で定義</div>
    <div>
    同じ値をなん度も使用する場合、その値を変数に代入すると便利です。<br>
    代入する場合、「変数 = 値」と記述し、右側の値を左側の変数に代入します。<br>
    変数をprint関数を使って出力する場合は()の中にそのまま変数を記述します。
        <div class="p-2">
        <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
            apple = "りんご"<br>
            print(apple)
        </div>
        <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
            りんご
        </div>
        </div>
    <div style="height: 40px;"></div>
    <div class="h4">🔵変数の命名ルール</div>
    変数に命名する際には以下のようなルールがあります。
    <ul>
        <li>変数に使える文字は、大文字・小文字のアルファベット、数字、_（アンダースコア）の３種類。</li>
        <li>先頭の文字に数字を使うことができない</li>
        <li>Pythonの予約語は使うことができない。</li>
    </ul>
    予約語とは、「True」や「if」、「for」など、あらかじめプログラミング言語で役割が決まっているワードのことです。
        <div style="height: 40px;"></div>
        <div class="h4">🔵「型」について</div>
        Pythonでデータを扱う場合、そのデータには「型」というものが定められています。<br>
        型には、文字列型（str型）、整数型（int型）、小数型（float型）、リスト型（list型）などがあります。<br>
        型を調べるためには「type()」を使用します。出力するために「print()」と組み合わせて記入してみます。
            <div class="p-2">
            <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
                print(type('orange'))<br>
                print(type(12))<br>
                print(type(2.8))
            </div>
            <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
                &lt;class 'str'&gt;<br>
                &lt;class 'int'&gt;<br>
                &lt;class 'float'&gt;
            </div>
            </div>
        <div style="height: 40px;"></div>
        <div class="h4">🔵型の変換</div>
        str型同士であれば「+」を使って文字列を連結させることができますし、int型同士であれば「+」を使うと足し算になります。<br>
            <div class="p-2">
            <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
                print('abc' + 'def')<br>
                print(6 + 2)
            </div>
            <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
                abcdef<br>
                8
            </div>
            </div>
        しかし、型が異なるとこのような演算ができなくなるのが一般的です。
            <div class="p-2">
            <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
                print('20' + 24)
            </div>
            <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
                line 1, in &lt;module'&gt;<br>
                    print('20' + 24)<br>
                        ~~~~~^~~~<br>
                TypeError: can only concatenate str (not "int") to str
            </div>
            </div>
        上のような演算を行いたい場合は、<b>型を変換</b>する必要があります。<br>
        str型にしたい場合は「str()」、int型にしたい場合は「int()」、float型にしたい場合は「float()」を用います。
            <div class="p-2">
            <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
                print('20' + str(24))<br>
                print(int('20') + 24)
            </div>
            <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
                2024<br>
                44
            </div>
            </div>
        <div style="height: 40px;"></div>
        <div class="h4">🔴エディターを使って、今までの復習</div>
        下のエディターを使って変数の代入、型の変換などをやってみましょう。
    <div style="height: 10px;"></div>
    <div class="p-1">
        <div class="row">
        <div class="col-4">
        <div id="editor" style="height: 80px;">{{ text }}</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.2/ace.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.2/ext-language_tools.js"></script>
        <form action="{% url 'pythonL:intro_ex' 2 %}" method="post">{% csrf_token %}
        <textarea id="text" name="text"></textarea>
        <textarea id="backup" name="backup">{{ text }}</textarea>
        </div>
        <div class="pt-4 col-1"><button type="submit" class="btn btn-primary">実行</button></div></form>
        <div class="col-7"></div>
        </div>
        <div style="height: 10px;"></div>
        <div class="row">
        <div class="col-5"><textarea class="ps-2" name="output" rows="3" style="background-color: lightcyan; border: blue solid 1px; width: 500px;">{{ out }}{{ err }}
        </textarea></div>
        <div class="col-7"></div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="p-2">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <span><a href="{% url 'pythonL:intro_ex' 1 %}">戻る</a></span>
                <span style="display: inline-block; width: 50%;"></span>
                <span class="text-end"><a href="{% url 'pythonL:intro_ex' 3 %}">次へ</a></span>
            </div>
            <div class="col-4"></div>
        </div>
        
    </div>
</div>
</div>
<footer style="height: 30px; position: relative; bottom: 0;  width: 100%; background-color: navy;">
</footer>
<script>
    document.getElementById( 'text' ).style.display = 'none';
document.getElementById( 'backup' ).style.display = 'none';

let editor = ace.edit("editor");
editor.$blockScrolling = Infinity;
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/python");
editor.setOptions({
    enableBasicAutocompletion: true,
    enableSnippets: true,
    enableLiveAutocompletion: false
  });
editor.getSession().on('change', function(){
      let textcode = editor.getSession().getValue();
      document.getElementById( 'text' ).value = textcode;});

    let elem = document.getElementById('editor');
    let elem_Y = elem.getBoundingClientRect().top + window.pageYOffset;
window.addEventListener("load", function() {
        if (document.getElementById( 'backup' ).value != '') {
            scrollTo({top: elem_Y, left: 0, behavior: "instant",});
        }
    });
</script>
{% endblock content %}