{% extends 'pythonL/base.html' %}

{% block title %}Python-Learning Introduction{% endblock title %}


{% block content %}
<div class="p-2"><h3><p class="text-center">リスト型・辞書型</p></h3></div>
<div style="height: 60px;"></div>
<div class="ps-3">
    <div class="h4">🔵リスト型</div>
    <div>
    リスト型は文字列や数値などの複数のデータをまとめて格納できる型であり、「[ ]」を使って記述できます。<br>
    リストをリストに格納することもできます。
        <div class="p-2">
        <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
            ['l', 'i', 's', 't']<br>
            [2, 5, 3, 7]<br>
            [['black', 'white'], [64, 343]]
        </div>
        </div>
    リストに格納されているデータの１つ１つを要素といいます。<br>
    上記の例で言うと、一番上のリストは「'l'」と「'i'」と「's'」と「't'」が要素であり、<br>
    一番下のリストは「['black', 'white']」と「[64, 343]」というリストが要素になります。
    <div style="height: 40px;"></div>
    <div class="h4">🔵リストの要素を取り出す。</div>
    リストの要素には前から順に、０、１、２、３、・・・と番号が割り振られています。（０から始まるのがポイント）<br>
    例えば、['a', 'b', 'c']というリストであれば、０番が'a'、１番が'b'、２番が'c'となります。<br>
    この番号のことを「インデックス番号」といいます。<br>
    リストの要素を取り出す場合には「リスト名[インデックス番号]」と記述することで得ることができます。
        <div class="p-2">
        <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
            mylist = [1, 10, 100, 1000]<br>
            print(mylist[2])
        </div>
        <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
            100
        </div>
        </div>
    上の例では[1, 10, 100, 100]というリストを「mylist」という変数に代入し、その３番目の要素を取り出しています。<br>
    ３番目なのでインデックス番号は2となります。
    <div style="height: 40px;"></div>
    <div class="h4">🔵リストの要素の変更・追加</div>
    リストの要素を変更する場合は、「リスト名[インデックス番号] = 変更後の値」とすることで、変更ができます。<br>
    また、リストに新しく要素を追加する場合は「+ [新しい要素]」とリストの足し算をすることによって追加できます。
        <div class="p-2">
        <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
            mylist = [1, 2, 3, 4]<br>
            mylist[3] = 5<br>
            print(mylist)<br>
            mylist = mylist + [10]<br>
            print(mylist)
        </div>
        <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
            [1, 2, 3, 5]<br>
            [1, 2, 3, 5, 10]
        </div>
        </div>
        <div style="height: 40px;"></div>
        <div class="h4">🔵辞書型</div>
        辞書型もリスト型と同様に複数のデータを格納することができ、「{}」を使って記述できます。<br>
        辞書型の基本形は{"key": value}という形で書かれ、「:」の左側をキー、右側を値（バリュー）といいます。
        <div class="p-2">
            <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
                {"x": 10, "y": 15, "z": 20} <br>
                {"name": "Taro", "age": 30, "gender": male}
            </div>
            </div>
        <div style="height: 40px;"></div>
        <div class="h4">🔵辞書の要素を取り出し、変更、追加。</div>
        辞書の要素を取り出すには、リストと同様に辞書「辞書名[キー]」という形で取り出すことができます。<br>
        リストのインデックス番号がキーに変わったと考えれば大丈夫です。<br>
        要素の変更は「辞書名[変更したい値のキー] = 変更したい値」、追加する場合は「辞書名[追加したい値のキー] = 追加したい値」と記述することでできます。
            <div class="p-2">
            <div style="width: 420px; background-color: lightyellow; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 5px 0 #c0c0c0;">
                mydict = {"a", 3, "b", 6, "c": 8}<br>
                mydict["c"] = 10<br>
                print(mydict)<br>
                mydict["d"] = 15<br>
                print(mydict)
            </div>
            <div style="width: 420px; background-color: lightcyan; border: blue solid 1px; font-size: 100%; padding: 8px; box-shadow: 0 5px 7px 0 #c0c0c0;">
                {"a", 3, "b", 6, "c": 10}<br>
                {"a", 3, "b", 6, "c": 10, "d": 15}
            </div>
            </div>
        <div style="height: 40px;"></div>
        <div class="h4">🔴エディターを使って、今までの復習</div>
        下のエディターを使ってリスト型・辞書型を書いてみよう。
    <div style="height: 10px;"></div>
    <div class="p-1">
        <div class="row">
        <div class="col-4">
        <div id="editor" style="height: 128px;">{{ text }}</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.2/ace.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.31.2/ext-language_tools.js"></script>
        <form action="{% url 'pythonL:intro_ex' 4 %}" method="post">{% csrf_token %}
        <textarea id="text" name="text"></textarea>
        <textarea id="backup" name="backup">{{ text }}</textarea>
        </div>
        <div class="pt-4 col-1"><button type="submit" class="btn btn-primary">実行</button></div></form>
        <div class="col-7"></div>
        </div>
        <div style="height: 10px;"></div>
        <div class="row">
        <div class="col-5"><textarea class="ps-2" name="output" rows="4" style="background-color: lightcyan; border: blue solid 1px; width: 500px;">{{ out }}{{ err }}
        </textarea></div>
        <div class="col-7"></div>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="p-2">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <span><a href="{% url 'pythonL:intro_ex' 3 %}">戻る</a></span>
                <span style="display: inline-block; width: 50%;"></span>
                <span class="text-end"><a href="{% url 'pythonL:intro_ex' 5 %}">次へ</a></span>
            </div>
            <div class="col-4"></div>
        </div>
        
    </div>
</div>
</div>
<footer style="height: 30px; position: relative; bottom: 0;  width: 100%; background-color: navy;">
</footer>
<script>
    document.getElementById( 'text' ).style.display = 'none';
document.getElementById( 'backup' ).style.display = 'none';

let editor = ace.edit("editor");
editor.$blockScrolling = Infinity;
editor.setTheme("ace/theme/monokai");
editor.getSession().setMode("ace/mode/python");
editor.setOptions({
    enableBasicAutocompletion: true,
    enableSnippets: true,
    enableLiveAutocompletion: false
  });
editor.getSession().on('change', function(){
      let textcode = editor.getSession().getValue();
      document.getElementById( 'text' ).value = textcode;});

    let elem = document.getElementById('editor');
    let elem_Y = elem.getBoundingClientRect().top + window.pageYOffset;
window.addEventListener("load", function() {
        if (document.getElementById( 'backup' ).value != '') {
            scrollTo({top: elem_Y, left: 0, behavior: "instant",});
        }
    });
</script>
{% endblock content %}